

.TopBar {
    background-color:rgb(233, 233, 233);

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;


}

.TopBar button {
    flex: 4;
    padding: 10px;
    margin: 35px;
    border-radius: 20px;
    
}

.editcss {
    font-family: 'JetBrains Mono', monospace;
    position:relative;
    padding:0;
    margin:0;
    top:0;
    right:0;
    min-height: 97.5vh;
    height: 100%;
    border: #F5B960;
    border-width: 8px;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
}



/* .BoxTabela{
    margin-left: 2%;
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4%;
    

table, th, td {
    border: 1px solid black;
    min-width: 225px;
}
    
table {
    border-collapse: collapse;

    margin: auto;
}
    
th, td{
    padding: 10px;
    text-align: center;
    min-width:  6.5vw;
    word-break: break-all;
}
    
th{
    font-weight: bold;
    background-color: #313056;
    color: #fff;
}
    
    
tr:nth-child(even) {
    background-color: #9591ff;
}
    


}
.BoxTabela table tbody tr td button {
    padding: 5%;
    background-color: #313056;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
} */

.BoxEditar {
    display: flex;
    flex-direction: column;

    width: 250%;
    gap: 20px;
    padding: 2%;
    margin-top: 10px;
    margin-left:-80%;

    background-color: rgba(120, 142, 255, 0.3);
    border-radius: 30px;
    color: #313056;


}

    .BoxEditar input {
        padding: 1%;
        border-radius: 30px;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.35);
        color: #313056;
        width: 80%;
        margin: 1.5%;
        margin-top: 0%;
        margin-bottom: 0%;
          }

    .BoxEditar button {
          width: 46%;
          padding: 12px;
          background-color: #313056;
          border-radius: 30px;
          border: 2px solid white;
          color: white;
          cursor: pointer;
          margin: 2%;
    }

    .BoxEditar p {
        font-size: small;
        margin-top: 20px;
        margin-left: 2%;
    }

    .BoxEditar select {
        width: 35%;
        margin-right: 2.5%;
        margin-left: 2.5%;

        background-color: #313056;
        border-radius: 20px;
        padding: 5px;
        color: #fff;
    }


.EditarInputs{
    height:180px;
    overflow:scroll;
    overflow-x:hidden;

}
    
#inputdofiltro {
    padding: 1%;
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.35);
    color: #313056;
    width: 150%;
    height: 30px;
}