

.TopBar {
    background-color:rgb(233, 233, 233);

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;


}

.TopBar button {
    flex: 4;
    padding: 10px;
    margin: 35px;
    border-radius: 20px;
    
}

.editcss {
    font-family: 'JetBrains Mono', monospace;
    position:relative;
    padding:0;
    margin:0;
    top:0;
    right:0;
    height: 97.6vh;
    border: #F5B960;
    border-width: 8px;
    border-style: solid;
    box-sizing: border-box;
}