.Login{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 60%;

  background-color: rgba(120, 142, 255, 0.3);
  border-radius: 60px;
  border: 2px solid white;
  backdrop-filter: blur(10px);
  flex-direction: column;
  gap: 20px;

  font-family: "JetBrains Mono", monospace;
  color: #313056;

}
.telaLogin{
  background-image: url("../../../assets/img/fundo.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsenha input {
    padding: 2%;
    border-radius: 30px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.35);
    color: #313056;
    width: 150%;
    margin-top: 50px;
    margin-left: -30%;
}
.inputusuario input {
    padding: 2%;
    border-radius: 30px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.35);
    color: #313056;
    width: 150%;
    margin-top: 50px;
    margin-left: -30%;
}
.Login button{
  width: 60%;
  height: 50px;
  padding: 12px;
  background-color: #313056;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  margin: 10%;
}

@media (max-width:1024px) {
.Login {
  width: 300px;
  gap: 20px;
  padding-bottom: 5%;
}
}
