.TelaLogin {
    background-image: url("../../../public/img/fundo.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divLogin {
    position: fixed;
    margin-left: -6%;
    margin-top: 20%;
    width: 10%;
}
@media (max-width:1024px) {
.divLogin{
    margin-top: 25%;
}
    
}

@media (max-width:650px) {
.divLogin{
    margin-top: 55%;
    width: 15%;
}
    
}

.Componente {
    margin-top: 1%;
    margin-left: 7%;
}