@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  div {
    font-family: 'JetBrains Mono', monospace;
}


/* .BoxTabela{
  min-width: 90vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4%;
  

table, th, td {
  border: 1px solid black;
  min-width: 225px;
}
  
table {
  border-collapse: collapse;

  margin: auto;
}
  
th, td{
  padding: 10px;
  text-align: center;
  min-width:  6.5vw;
  word-break: break-all;
}
  
th{
  font-weight: bold;
  background-color: #313056;
  color: #fff;
}
  
  
tr:nth-child(even) {
  background-color: #9591ff;
}
  



}
.BoxTabela table tbody tr td button {
  padding: 5%;
  background-color: #313056;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
} */

.BoxTabela {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.BoxTabela h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.BoxTabela input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.BoxTabela table {
  width: 100%;
  border-collapse: collapse;
}

.BoxTabela th, .BoxTabela td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.BoxTabela th {
  background-color: #f2f2f2;
  color: #333;
}

.BoxTabela tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.BoxTabela tbody tr:hover {
  background-color: #ddd;
}

.BoxTabela button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.BoxTabela button:hover {
  background-color: #0056b3;
}

.BoxTabela #botaodeletar {
  background-color: rgba(255, 43, 43, 0.911);
}

.BoxTabela #botaoeditar {
  background-color: #007bff;
}



#inputdofiltro {
  padding: 1%;
  border-radius: 30px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.35);
  color: #313056;
  width: 150%;
  height: 30px;
}

.ALL {
  margin-top: -1%;
}