@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  div {
    font-family: 'JetBrains Mono', monospace;
}


.BoxTabela{
  min-width: 90vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4%;
  

table, th, td {
  border: 1px solid black;
  min-width: 225px;
}
  
table {
  border-collapse: collapse;

  margin: auto;
}
  
th, td{
  padding: 10px;
  text-align: center;
  min-width:  6.5vw;
  word-break: break-all;
}
  
th{
  font-weight: bold;
  background-color: #313056;
  color: #fff;
}
  
  
tr:nth-child(even) {
  background-color: #9591ff;
}
  



}
.BoxTabela table tbody tr td button {
  padding: 5%;
  background-color: #313056;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

#inputdofiltro {
  padding: 1%;
  border-radius: 30px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.35);
  color: #313056;
  width: 150%;
  height: 30px;
}

.ALL {
  margin-top: -1%;
}