.ButtonLogin {
    width: 150%;
    padding: 12px;
    background-color: #313056;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}


.SideBar{
    background-color: #D9D9D9;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    min-width: 7%;
    max-width: 7%;
    position: fixed;
    top: 0;
    padding-left: 2px;
    z-index: 100;
}

.divTopBar {
    padding: 6%;
}

.SideBar div {
    padding: 20%;
}

.icon {
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
}

.butaos {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: -10px;
    margin: 0%;
    padding: 0%;
  }
  .butaos::after {
    content: "";
    position: absolute;
    margin-left: -15px;
    bottom: 10%; 
    width: 80%;
    height: 5.7px;
    background-color: black; 
    transform: scaleX(0.65); 
    transition: transform 0.25s ease; 
  }
  .butaos:hover::after {
    transform: scaleX(1.05); 
  }

.butaos a {
    
    text-decoration: none;
    
}

.butaos p {
    font-size: x-small;
    margin: 0%;
    margin-top: 2px;

    color: black;


}