

.TopBar {
    background-color:rgb(233, 233, 233);

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;


}

.TopBar button {
    flex: 5;
    padding: 10px;
    margin: 35px;
    border-radius: 20px;
    
}

.pesqcss{
    font-family: 'JetBrains Mono', monospace;
    position:relative;
    padding:0;
    margin:0;
    top:0;
    right:0;
    height: 97.6vh;
    border: #4449C2;
    border-width: 8px;
    border-style: solid;
    box-sizing: border-box;
}

#inputdofiltro {
    padding: 1%;
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.35);
    color: #313056;
    width: 150%;
    height: 30px;
}